body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  background-color: rgb(107, 238, 199);
}
header {
  background-color: rgb(196, 255, 228);
  margin-bottom: 20px;

}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 64px;
}
.menu ul {
  display: flex;
  list-style-type: none;
  gap: 24px;
}
.logo-name {
  display: flex;
  align-items: center;
  gap: 8px;
}
.logo-menu {
  display: flex;
  align-items: center;
  gap: 8px;
}
.btn-primary {
  background-color: rgb(174, 93, 245);
  color: white;
  padding: 8px 16px;
  border-radius: 10px;
  text-decoration: none;
  border: none;
}
.btn-secondary {
  background-color: rgb(255, 255, 255);
  color: rgb(17, 108, 255);
  padding: 8px 16px;
  border-radius: 6px;
  text-decoration: none;
  border: 1px solid rgb(17, 108, 255);
}
.container {
  width: 70%;
  margin: 0 auto;
}
.card {
  background-color: white ;
  border-radius: 10px;
  padding: 20px;
  margin-bottom: 20px;
}
.card img {
  width: 100%;
  border-radius: 10px;
}
footer{
  display: flex;
  background-color: rgb(255, 196, 223);
  height: 100px;
  padding: 20px;
  color: white;
  padding: 20px;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  line-height: 0;
  
}
a {
  text-decoration: none;
  color: rgb(137, 24, 236);
}
a :hover{
  text-decoration: none;
  color: rgb(127, 255, 157);
}
.btn-primary:hover{
  background-color: rgb(127, 180, 255);
}

